html, body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #93b9cd;
}

canvas#canvas{
    background-color: white;
    position: absolute;
    height: calc(100vh - 2px);
    width: calc(100vh - 2px);
    margin: auto;
    padding: 0;
    border: 2px solid black;
    left: calc(50vw - 50vh);


    -webkit-box-shadow: 10px 10px 31px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px 0 rgba(0,0,0,0.75);
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
